<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--<add key="MailingList" value="etienne.pierrot@gmail.com;clement@leetchi.com;endika@leetchi.com"/>-->
    <add key="MailingList" value="etienne.pierrot@gmail.com"/>
    <add key="UrlEvent" value="/psg/Billets-de-sport/Football/Ligue-1/Paris-Saint-Germain-Billets/E-751483"/>
    <add key="AlertName" value="Alert Viagogo : PSG - Chelsea"/>
    <add key="TimingRefreshInMs" value="10000"/>
    <add key="MaxPricingInEur" value = "72"/>
    
    <!-- Mailing-->
    <add key="Mailing.AdminMail" value="etienne@leetchi.com"/>
    <add key="Mailing.Password" value="viagogowatch123%"/>
    <add key="Mailing.Login" value="ep.mail.sender.viagogo"/>
    <add key="Mailing.Server" value="smtp.gmail.com"/>
    <add key="Mailing.Port" value="587"/>

  </appSettings>
</configuration>