@model ViagogoWatcher.Web.Controllers.SuccessEventCrationDto

@{
    ViewBag.Title = "Event created";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="container">

    <form class="form-horizontal" action="Create" method="POST">
        <h1>Event Created!!</h1>
        <a href="@Model.Url">Suscribe here!!</a>
    </form>
</div>

