@model ViagogoWatcher.Web.Controllers.DisplayCreateSubscriptionDto

@{
    ViewBag.Title = "Create a subscription";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>Create subscription to an avent</h2>

<form action="Create" method="POST">
    <table>
        <input type="hidden" value="@Model.codeEvent" name="codeEvent"/>
        <tr>
            <td>Email :</td>
            <td>
                <input id="Email" name="email" type="text" /></td>
        </tr>
        <tr>
            <td>Max Price (without Viagogo commission) :</td>
            <td>
                <input id="amount" name="amount" type="text" /></td>
        </tr>
        <tr>
            <td>Nb Places :</td>
            <td>
                <input id="nbPlace" name="nbPlace" type="text" /></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="create" />
            </td>
        </tr>
    </table>
</form>
