@model ViagogoWatcher.Web.Controllers.DisplayCreateSubscriptionDto

@{
    ViewBag.Title = "Create a subscription";
    Layout = "~/Views/_Layout.cshtml";
}



<div class="container">

    <form class="form-horizontal" action="Create" method="POST">
        <input type="hidden" value="@Model.CodeEvent" name="codeEvent"/>

        <h2>Create subscription to @Model.NameEvent </h2>
        <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" id="Email" name="Email" class="form-control" placeholder="Email" required autofocus>
        </div>
        <div class="form-group">
            <label for="amount">Max Price (without Viagogo commission) :</label>
            <input type="text" id="amount" name="amount" class="form-control" placeholder="amount" required>
        </div>
        <div class="form-group">
            <label for="quantity">Quantity :</label>
            <input type="text" id="quantity" name="quantity" class="form-control" placeholder="quantity" required>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Subscribe</button>
    </form>

</div>

